#### importing the packages

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
essays=pd.read_excel('training_set_rel3.xlsx',usecols=['essay_set','essay','rater1_domain1','rater2_domain1','domain1_score'])

In [14]:
## we take only the relevent columns

In [5]:
essays.head()

,essay_set,essay,rater1_domain1,rater2_domain1,domain1_score
0,1,"Dear local newspaper, I think effects computer...",4.0,4.0,8.0
1,1,"Dear @CAPS1 @CAPS2, I believe that using compu...",5.0,4.0,9.0
2,1,"Dear, @CAPS1 @CAPS2 @CAPS3 More and more peopl...",4.0,3.0,7.0
3,1,"Dear Local Newspaper, @CAPS1 I have found that...",5.0,5.0,10.0
4,1,"Dear @LOCATION1, I know having computers has a...",4.0,4.0,8.0

In [6]:
essays.shape

(12978, 5)

In [8]:
essays['essay'][0]

"Dear local newspaper, I think effects computers have on people are great learning skills/affects because they give us time to chat with friends/new people, helps us learn about the globe(astronomy) and keeps us out of troble! Thing about! Dont you think so? How would you feel if your teenager is always on the phone with friends! Do you ever time to chat with your friends or buisness partner about things. Well now - there's a new way to chat the computer, theirs plenty of sites on the internet to do so: @ORGANIZATION1, @ORGANIZATION2, @CAPS1, facebook, myspace ect. Just think now while your setting up meeting with your boss on the computer, your teenager is having fun on the phone not rushing to get off cause you want to use it. How did you learn about other countrys/states outside of yours? Well I have by computer/internet, it's a new way to learn about what going on in our time! You might think your child spends a lot of time on the computer, but ask them so question about the economy, sea floor spreading or even about the @DATE1's you'll be surprise at how much he/she knows. Believe it or not the computer is much interesting then in class all day reading out of books. If your child is home on your computer or at a local library, it's better than being out with friends being fresh, or being perpressured to doing something they know isnt right. You might not know where your child is, @CAPS2 forbidde in a hospital bed because of a drive-by. Rather than your child on the computer learning, chatting or just playing games, safe and sound in your home or community place. Now I hope you have reached a point to understand and agree with me, because computers can have great effects on you or child because it gives us time to chat with friends/new people, helps us learn about the globe and believe or not keeps us out of troble. Thank you for listening."

In [13]:
essays.isnull().sum()

essay_set         0
essay             0
rater1_domain1    1
rater2_domain1    1
domain1_score     1
dtype: int64

In [15]:
## worst case if we consider all three nulls to be present in diff rows, still the null values comprise of very little fraction

print((3/len(essays))*100)

0.02311604253351826

In [17]:
## 0.02 percent, so it will be safe to drop na
print("length before ",len(essays))
essays.dropna(inplace=True)
print("length after ",len(essays))

length before  12978
length after  12977

In [18]:
### there was just a single row
##Data lost in the process 
print((1/len(essays))*100)

0.00770594128072744

In [19]:
### Duplicates
print("length before ",len(essays))
essays.drop_duplicates(inplace=True)
print("length after ",len(essays))

length before  12977
length after  12976

In [20]:
### there was just one duplicate value

### Now we try to clean the essay column(The meat of our dataset)

In [ ]:
##